@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

p{
  font-size: 1.6rem;
}


a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
